<div class="main-wrapper">

    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
          <div class="welcome-text">
              <h4>Blog Category Operations</h4>
          </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/admin-buffalo/master-dashboard">Home</a></li>
              <li class="breadcrumb-item active"><a routerLink="/admin-buffalo/content-management/dashboard-blog-categories">Categories</a></li>
              <li class="breadcrumb-item active"><a routerLink="/admin-buffalo/content-management/dashboard-blog-categories">All Categories</a></li>
          </ol>
      </div>
    </div> 
    

    <!-- Add Category Popup -->
    <ng-container *ngIf="addPopupVisible">
      <dx-popup [(visible)]="addPopupVisible" [width]="'auto'" [height]="'auto'" [showTitle]="true"
          [title]="'Add New Category'" (onHidden)="onPopupHidden()">
          <form (ngSubmit)="onAddCategorySubmit(false)" [formGroup]="addCategoryForm">
              <div class="row">
                  <div class="col-lg-12">
                      <label for="name">Name:<span class="text-danger">*</span></label>
                      <dx-text-box [showClearButton]="true" formControlName="name" placeholder="Category Name"></dx-text-box>
                      <!-- Display error message for the name field -->
                      <div *ngIf="addCategoryForm.get('name')?.invalid && (addCategoryForm.get('name')?.touched || addCategoryForm.get('name')?.dirty)"
                          class="text-danger">
                          <ng-container *ngIf="addCategoryForm.get('name')?.errors?.['required']">Category Name is required</ng-container>
                          <ng-container *ngIf="addCategoryForm.get('name')?.errors?.['pattern']">Invalid category name</ng-container>
                      </div>
                  </div>

                  <div class="col-lg-12">
                      <label for="description">Description:<span class="text-danger">*</span></label>
                      <dx-text-box [showClearButton]="true" formControlName="description" placeholder="Description"></dx-text-box>
                      <!-- Display error message for the description field -->
                      <div *ngIf="addCategoryForm.get('description')?.invalid && (addCategoryForm.get('description')?.touched || addCategoryForm.get('description')?.dirty)"
                          class="text-danger">
                          <ng-container *ngIf="addCategoryForm.get('description')?.errors?.['required']">Description is required</ng-container>
                      </div>
                  </div>
              </div>

              <div class="button-container-popup">
                  <dx-button text="Save and Add Another" type="success" [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"
                      (onClick)="onAddCategorySubmit(true)">
                      <!-- spinner -->
                      <ng-container *ngIf="!isSubmittingSaveAndAddAnother">Save and Add Another</ng-container>
                      <ng-container *ngIf="isSubmittingSaveAndAddAnother">
                          <div class="spinnerc"></div>
                      </ng-container>
                      <!-- spinner -->
                  </dx-button>
                  <dx-button text="Save" type="success" [elementAttr]="{ class: 'pull-right' }"
                      (onClick)="onAddCategorySubmit(false)">
                      <!-- spinner -->
                      <ng-container *ngIf="!isSubmittingSave">Save</ng-container>
                      <ng-container *ngIf="isSubmittingSave">
                          <div class="spinnerc"></div>
                      </ng-container>
                      <!-- spinner -->
                  </dx-button>
              </div>
          </form>
      </dx-popup>
    </ng-container>


  
    <!-- Update Category Popup -->
    <ng-container *ngIf="updateCategoryForm.value && updatePopupVisible">
      <dx-popup [(visible)]="updatePopupVisible" [width]="'auto'" [height]="'auto'" [showTitle]="true"
          [title]="'Update Category'" (onHidden)="onPopupHidden()">
          <form (ngSubmit)="onUpdateCategorySubmit()" [formGroup]="updateCategoryForm">
              <div class="row">
                <div class="col-lg-12">
                  <label for="name">Name:</label>
                  <dx-text-box [showClearButton]="true" formControlName="name" placeholder="Category Name"></dx-text-box>
                </div>
                <div class="col-lg-12">
                  <label for="description">Description:</label>
                  <dx-text-box [showClearButton]="true" formControlName="description" placeholder="Description"></dx-text-box>
                </div>
              </div>

              <div class="button-container-popup">
                <dx-button text="Cancel" type="danger"  [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"
                  (onClick)="updatePopupVisible = false"></dx-button>
                <dx-button text="Update" type="success" [elementAttr]="{ class: 'pull-right' }"
                  (onClick)="onUpdateCategorySubmit()">
                  <!-- spinner -->
                  <ng-container *ngIf="!isSubmitting">Update</ng-container>
                  <ng-container *ngIf="isSubmitting">
                      <div class="spinnerc"></div>
                  </ng-container>
                  <!-- spinner -->
                </dx-button>
              </div>
            </form>
      </dx-popup>
    </ng-container>
  
    <!-- Delete Category Popup -->
    <ng-container *ngIf="deleteCategoryForm.value && deletePopupVisible">
      <dx-popup [(visible)]="deletePopupVisible" height="auto" width="auto" [showTitle]="true" title="Delete Confirmation"
          (onHidden)="deletePopupVisible = false">
          <form (ngSubmit)="onDeleteCategorySubmit()" [formGroup]="deleteCategoryForm">
              <div>
                  <p *ngIf="deleteCategoryForm.value && deletePopupVisible" class="confirmation-text">
                      Are you sure you want to delete "<strong>{{deleteCategoryForm.value.name}}</strong>"?
                  </p>
                  <div class="button-container-popup">
                      <dx-button text="Cancel" (onClick)="deletePopupVisible = false" [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"></dx-button>
                      <dx-button text="Delete" type="danger" (onClick)="onDeleteCategorySubmit()" [elementAttr]="{ class: 'pull-right' }">
                         <!-- spinner -->
                        <ng-container *ngIf="!isSubmitting">Delete</ng-container>
                        <ng-container *ngIf="isSubmitting">
                            <div class="spinnerc"></div>
                        </ng-container>
                        <!-- spinner -->
                      </dx-button>
                  </div>
              </div>
          </form>
      </dx-popup>
    </ng-container>

    <!-- Spinner -->
    <div *ngIf="isLoading" class="spinner-container">
      <div class="spinner"></div>
    </div>
  
    <!-- Data Grid to display Categories -->
    <div *ngIf="!isLoading">
      <!-- Buttons -->
    <!-- <div class="button-container">
      <dx-button 
          text="Add New Category" 
          type="default" 
          icon="fa fa-plus" 
          [elementAttr]="{ class: 'pull-left' }" 
          (onClick)="onAddCategoryClick()">
      </dx-button>
      <button 
          [disabled]="!multipleCategoriesGrid || !multipleCategoriesGrid.instance.getSelectedRowsData().length" 
          (click)="onDeleteMultipleCategorySubmit()" 
          class="btn btn-danger pull-left">
          Delete Selected Categories
      </button>
    </div> -->

    <!-- Menu for Add/Delete Actions -->
    <div class="button-container">
      <dx-menu 
          [style]="{ 'background-color': 'lightblue' }"
          (onItemClick)="onMenuItemClick($event)" 
          [items]="permitGeneralCategoryMenuItems">
      </dx-menu>
    </div>
  

    <!-- Data Grid -->
    <dx-data-grid 
      #multipleCategoriesGrid
      class="table row-border hover" 
      [dataSource]="categories" 
      [remoteOperations]="true" 
      [showBorders]="true"
      [allowColumnResizing]="true" 
      [columnHidingEnabled]="false" 
      (onSelectionChanged)="selectionChanged($event)" 
      keyExpr="id">
      
      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-pager 
        [showInfo]="true" 
        infoText="Page #{0}. Total: {1} ({2} items)" 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5,10]">
      </dxo-pager>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-group-panel [visible]="true"></dxo-group-panel>

      <!-- menu actions -->
      <dxi-column [width]="150" caption="Action" name="command-editing"
      [allowFiltering]="false" 
      [allowSorting]="false" 
      cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
        <dx-menu 
          (onItemClick)="permitCategoryActionColClick($event,data)"
          [items]="permitCategoryMenuItems">
        </dx-menu>
      </div>
      </dxi-column>
      <!-- menu actions -->
      
      <dxi-column [width]="'auto'" dataField="id" caption="ID" [visible]="false"></dxi-column>
      <dxi-column [width]="'auto'" dataField="name" caption="Category Name"></dxi-column>
      <dxi-column [width]="'auto'" dataField="description" caption="Description"></dxi-column>
      <dxi-column [width]="'auto'" dataField="created_by" caption="Created By"></dxi-column>
      <dxi-column [width]="'auto'" dataField="duration" caption="Time Posted"></dxi-column>
      
      <dxo-paging [pageSize]="10"></dxo-paging>
    </dx-data-grid>
    </div>

    <!-- delete multiple items -->
    <!-- Delete Multiple Categories Popup -->
    <ng-container *ngIf="selectedCategoriesForDeletion.length > 0 && deleteMultiplePopupVisible">
      <dx-popup [(visible)]="deleteMultiplePopupVisible" height="auto" width="auto" [showTitle]="true" title="Delete Confirmation"
          (onHidden)="deleteMultiplePopupVisible = false">
          <div>
              <p class="confirmation-text">
                  Are you sure you want to delete <strong>{{selectedCategoriesCount}}</strong> Blog Category(ies)?
              </p>
              <div class="button-container-popup">
                  <dx-button text="Cancel" (onClick)="deleteMultiplePopupVisible = false" [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"></dx-button>
                  <dx-button text="Delete" type="danger" (onClick)="confirmDeleteMultipleCategories()" [elementAttr]="{ class: 'pull-right' }">
                      <!-- spinner -->
                      <ng-container *ngIf="!isSubmitting">Delete</ng-container>
                      <ng-container *ngIf="isSubmitting">
                          <div class="spinnerc"></div>
                      </ng-container>
                      <!-- spinner -->
                  </dx-button>
              </div>
          </div>
      </dx-popup>
    </ng-container>
  
  </div>
  