<!-- Reset password starts here -->
<div class="password-reset-container">
    <h2>Reset Password</h2>
    <form [formGroup]="passwordResetFrm" (ngSubmit)="onFuncResetPassword()">
      <div class="form-element">
        <label for="password" class="w-100" style="text-align: left;">Password</label>
        <div class="form-alert-input">
          <input type="password" placeholder="Type here..." id="password" formControlName="password" (input)="validatePasswordStrength()" />
          <div class="form-alert-icon" (click)="togglePassword('password')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="feather feather-eye">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </div>
        </div>
        <small *ngIf="passwordStrength === 'weak' && passwordResetFrm.get('password')?.value !== ''" class="d-block text-danger">Weak password</small>
        <small *ngIf="passwordStrength === 'medium'" class="d-block text-warning">Medium strength password</small>
        <small *ngIf="passwordStrength === 'strong'" class="d-block text-success">Strong password</small>
        <small *ngIf="passwordSameAsEmail && passwordResetFrm.get('password')?.value !== ''" class="d-block text-danger">The password cannot be the same as the email.</small>
        <small *ngIf="errors?.password" class="d-block text-danger">{{errors?.password}}</small>
      </div>
      <div class="form-element">
        <label for="password_confirmation" class="w-100" style="text-align: left;">Confirm Password</label>
        <div class="form-alert-input">
          <input type="password" placeholder="Type here..." id="password_confirmation" formControlName="password_confirmation" (input)="validatePasswordConfirmation()" [class.is-invalid]="!passwordsMatch && passwordResetFrm.get('password_confirmation')?.value !== ''" />
          <div class="form-alert-icon" (click)="togglePassword('password_confirmation')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="feather feather-eye">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          </div>
        </div>
        <small *ngIf="!passwordsMatch && passwordResetFrm.get('password_confirmation')?.value !== ''" class="d-block text-danger">Passwords do not match</small>
        <small *ngIf="errors?.password_confirmation" class="d-block text-danger">{{errors?.password_confirmation}}</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loading">Reset Password</button>
      <div class="spinner-border text-primary" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
      </div>
      <!-- <div *ngIf="loading" class="spinner-container">
        <div class="spinner"></div>
        <span class="loading-text">Loading...</span>
      </div>  -->
    </form>
  </div>
  <!-- Reset password ends here -->
  