<div class="wrapper">
  <!-- Data Grid to display Tags -->
  <dx-data-grid class="table row-border hover" 
                [dataSource]="tags" 
                [remoteOperations]="true" 
                [showBorders]="true"
                [allowColumnResizing]="true" 
                [columnHidingEnabled]="false" 
                keyExpr="id"
                (onSelectionChanged)="selectionChanged($event)">
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-pager [showInfo]="true" 
               infoText="Page #{0}. Total: {1} ({2} items)" 
               [showPageSizeSelector]="true"
               [allowedPageSizes]="[5,10]"></dxo-pager>
    <dxo-export [enabled]="true" 
                fileName="Tags" 
                [allowExportSelectedData]="true" 
                (exporting)="onExportSelected($event)"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxi-column dataField="id" caption="ID" [visible]="false"></dxi-column>
    <dxi-column dataField="name" caption="Tag Name"></dxi-column>
    <dxi-column dataField="description" caption="Description"></dxi-column>
    <dxi-column dataField="author" caption="Created By"></dxi-column>
    <dxi-column dataField="duration" caption="Time Posted"></dxi-column>
    <dxo-paging [pageSize]="10"></dxo-paging>
  </dx-data-grid>

  <!-- Export Button for Manual Trigger -->
  <button dx-button 
          text="Export Selected" 
          (onClick)="onExportSelected($event)">
  </button>
</div>
