<div class="main-wrapper">

	<div class="row page-titles mx-0">
		<div class="col-sm-6 p-md-0">
			<div class="welcome-text">
				<h4>Team Component Operations</h4> 
			</div>
		</div>
		<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/admin-buffalo/master-dashboard">Home</a></li>
				<li class="breadcrumb-item active"><a routerLink="/admin-buffalo/system-information-management/general-pages/dashboard-team">Team</a></li>
				<li class="breadcrumb-item active"><a routerLink="/admin-buffalo/system-information-management/general-pages/dashboard-team">All Team</a></li>
			</ol>
		</div>
    </div> 

</div>
