<!-- Breadcrumb Starts Here -->
<div class="event-sub-section event-sub-section--spaceY eventsearch-sub-section">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center bg-transparent p-0 mb-0">
                <li class="breadcrumb-item">
                    <a routerLink="/" class="fs-6 text-secondary">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/searchCourse" class="fs-6 text-secondary">course</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb Ends Here -->

<!-- Event Search Starts Here -->
<section class="section event-search">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="event-search-bar">
                    <form (submit)="applyFilter($event)">
                        <div class="form-input-group">
                            <input type="text" class="form-control" placeholder="Search Course..." [(ngModel)]="searchText" name="searchText" (keyup)="filterSearchCourses()" />
                            <button class="button button-lg button--primary" type="submit" id="button-addon2">
                                Search
                            </button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-4 d-none d-lg-block">

                <div class="accordion sidebar-filter" id="#">
                    
                    <!-- Search by Category  -->
                    <!-- Search by Course Sub Category starts here -->
                    <div *ngIf="loadingSubCategories" class="spinner-container">
                        <div class="spinner"></div>
                        <span class="loading-text">Loading...</span>
                    </div>  
                    <div *ngIf="!loadingSubCategories" class="accordion-item">
                        <h2 class="accordion-header" id="categoryAcc">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse" aria-expanded="true" aria-controls="categoryCollapse">
                                Sub Category
                            </button>
                        </h2>
                        <div id="categoryCollapse" class="accordion-collapse collapse show" aria-labelledby="categoryAcc" data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <form (ngSubmit)="applyFilter($event)">
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" (change)="toggleSelectAllSubCategories($event)" [checked]="allSelectedSubCategories">
                                            <label> All </label>
                                        </div>
                                        <p class="check-details">{{courses.length}}</p>
                                    </div>
                                    <div *ngFor="let cat of subCategories" class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" name="subcategories" [value]="cat.id" (change)="toggleSubCategory(cat.id)" [checked]="selectedSubCategories.includes(cat.id)">
                                            <label> {{cat.sub_category_name}} </label>
                                        </div>
                                        <p class="check-details">{{cat.courseCount}}</p>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary">Apply Filter</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Search by Course Sub Category ends here -->

                    <!-- Search by Level  -->
                    <!-- Search by Level starts here -->
                    <div *ngIf="loadingLevels" class="spinner-container">
                        <div class="spinner"></div>
                        <span class="loading-text">Loading...</span>
                    </div>  
                    <div *ngIf="!loadingLevels" class="accordion-item">
                        <h2 class="accordion-header" id="levelAcc">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#levelCollapse" aria-expanded="true" aria-controls="levelCollapse">
                                Level
                            </button>
                        </h2>
                        <div id="levelCollapse" class="accordion-collapse collapse show" aria-labelledby="levelAcc" data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <form (ngSubmit)="applyFilter($event)">
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" (change)="toggleSelectAllLevels($event)" [checked]="allSelectedLevels">
                                            <label> All </label>
                                        </div>
                                        <p class="check-details">{{courses.length}}</p>
                                    </div>
                                    <div *ngFor="let level of levels" class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" name="levels" [value]="level.id" (change)="toggleLevel(level.id)" [checked]="selectedLevels.includes(level.id)">
                                            <label> {{level.name}} </label>
                                        </div>
                                        <p class="check-details">{{level.levelCount}}</p>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary">Apply Filter</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Search by Level ends here -->

                    <!-- Search by Price  -->
                    <!-- Search by Price -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="priceAcc">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#priceCollapse" aria-expanded="true" aria-controls="priceCollapse">
                                Price
                            </button>
                        </h2>
                        <div id="priceCollapse" class="accordion-collapse collapse show" aria-labelledby="priceAcc" data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <div class="price-range">
                                    <div>
                                        <div class="price-range-block">
                                            <form class="d-flex price-range-block__inputWrapper" (ngSubmit)="applyFilter($event)">
                                                <input type="number" min="0" max="5000" [(ngModel)]="minPrice" name="minPrice"
                                                    class="price-range-field" style="width: 105px; height: 50px; border-radius: 4px; padding: 15px;" />
                                                <span>to</span>
                                                <input type="number" min="0" max="5000" [(ngModel)]="maxPrice" name="maxPrice"
                                                    class="price-range-field" style="width: 125px; height: 50px; padding: 15px; border-radius: 4px;" />
                                                <button class="angle-btn" type="submit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                                        <polyline points="9 18 15 12 9 6"></polyline>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Search by Price ends here -->

                    <!-- Search by Rating  -->
                    <!-- <div class="accordion-item">
                        <h2 class="accordion-header" id="ratingAcc">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#ratingCollapse" aria-expanded="false" aria-controls="ratingCollapse">
                                Rating
                            </button>
                        </h2>
                        <div id="ratingCollapse" class="accordion-collapse collapse" aria-labelledby="ratingAcc"
                            data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <form action="#">
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> All </label>
                                        </div>
                                        <p class="check-details">
                                            1,54,750
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> 1 Star and higher </label>
                                        </div>
                                        <p class="check-details">
                                            45,770
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> 2 Star and higher </label>
                                        </div>
                                        <p class="check-details">
                                            45,770
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> 3 Star and higher </label>
                                        </div>
                                        <p class="check-details">
                                            45,770
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> 4 Star and higher </label>
                                        </div>
                                        <p class="check-details">
                                            45,770
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> 5 Star </label>
                                        </div>
                                        <p class="check-details">
                                            45,770
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <!-- Search by Duration  -->
                    <!-- Search by Duration  -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="durationAcc">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#durationCollapse" aria-expanded="false"
                                aria-controls="durationCollapse">
                                Duration
                            </button>
                        </h2>
                        <div id="durationCollapse" class="accordion-collapse collapse" aria-labelledby="durationAcc"
                            data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <form (ngSubmit)="applyFilter($event)">
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" (change)="toggleSelectAllDurations($event)" [checked]="allSelectedDurations"/>
                                            <label> All </label>
                                        </div>
                                        <p class="check-details">
                                            {{ courses.length }}
                                        </p>
                                    </div>
                                    <div *ngFor="let range of durationRanges; let i = index" class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" (change)="toggleDuration(i)" [checked]="selectedDurations.includes(i)"/>
                                            <label> {{ range.min }} - {{ range.max === null ? '15+' : range.max }} minutes </label>
                                        </div>
                                        <p class="check-details">
                                            {{ getCourseCountByDuration(i) }}
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Search by Duration  -->




                </div>
            </div>

            <div class="col-lg-8">
                <div class="event-search-results">
                    <div class="event-search-results-heading">
                        <!-- <div class="nice-select" tabindex="0">
                            <span class="current">Most Viewed</span>
                            <ul class="list">
                                <li data-value="Nothing" data-display="category" class="option selected focus">
                                    Nothing
                                </li>
                                <li data-value="1" class="option">Some option</li>
                                <li data-value="2" class="option">Another option</li>
                                <li data-value="4" class="option">Potato</li>
                            </ul>
                        </div> -->
                        <p>{{filteredCourses.length}} results found.</p>
                        <!-- <button class="button button-lg button--primary button--primary-filter d-lg-none" id="filter">
                            <span>
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.3335 14.9999V9.55554" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M3.3335 6.4444V1" stroke="white" stroke-width="1.7" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M9.55469 14.9999V8" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M9.55469 4.88886V1" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.7773 14.9999V11.1111" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.7773 7.99995V1" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M1 9.55554H5.66663" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M7.22217 4.88867H11.8888" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M13.4443 11.1111H18.111" stroke="white" stroke-width="1.7"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                            Filter
                        </button> -->
                    </div>
                </div>

                <!-- {{-- Courses --}} -->
                <!-- Courses starts here -->
                <div *ngIf="loadingCourses" class="spinner-container">
                    <div class="spinner"></div>
                    <span class="loading-text">Loading...</span>
                </div>
                <div *ngIf="!loadingCourses" class="row event-search-content">
                    <div *ngFor="let course of displayedCourses" class="col-md-6 mb-4">
                        <div class="contentCard contentCard--course">
                            <div class="contentCard-top">
                                <a [routerLink]="['/courseDetails', course.title_en, course.id]"><img [src]="course.image" alt="images" class="img-fluid" /></a>
                            </div>
                            <div class="contentCard-bottom">
                                <h5>
                                    <a [routerLink]="['/courseDetails', course.title_en, course.id]" class="font-title--card">{{course.title_en}}</a>
                                </h5>
                                <div class="contentCard-info d-flex align-items-center justify-content-between">
                                    <a [routerLink]="['/instructorProfile', course.instructor_name, course.instructor_designation, course.instructor_id]" class="contentCard-user d-flex align-items-center">
                                        <img [src]="course.instructor_image" alt="Instructor Image" class="rounded-circle" height="34" width="34" />
                                        <p class="font-para--md">{{course.instructor_name}}</p>
                                    </a>
                                    <div class="price">
                                        <span>
                                            {{ (course.price == null || course.price == 0.00) ? 'Free' : '$' + course.price }}
                                          </span>
                                          <del>
                                            {{ (course.old_price == null || course.old_price == 0.00) ? '' : '$' + course.old_price }}
                                          </del>                                          
                                    </div>
                                </div>
                                <div class="contentCard-more">
                                    <div class="d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/frontend/dist/images/icon/star.png" alt="star" />
                                        </div>
                                        <span>4.5</span>
                                    </div>
                                    <div class="eye d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/frontend/dist/images/icon/eye.png" alt="eye" />
                                        </div>
                                        <span>24,517</span>
                                    </div>
                                    <div class="book d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/frontend/dist/images/icon/book.png" alt="location" />
                                        </div>
                                        <span>{{course.lesson == null ? '0' : + course.lesson}} Lesson</span>
                                    </div>
                                    <div class="clock d-flex align-items-center">
                                        <div class="icon">
                                            <img src="assets/frontend/dist/images/icon/Clock.png" alt="clock" />
                                        </div>
                                        <span>{{course.duration == null ? '0' : + course.duration}} Months</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div *ngIf="displayedCourses.length === 0" class="col-md-6 mb-4">
                        <div class="contentCard contentCard--course">
                            <h3>No Course Found</h3>
                        </div>
                    </div> -->
                </div>
                <!-- Courses ends here -->

                <!-- Pagination starts here -->
                <div class="pagination-group mt-lg-5 mt-2">
                    <a style="cursor: pointer;" class="p_prev" (click)="previousPage()" [class.disabled]="currentPage === 1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828" viewBox="0 0 9.414 16.828">
                            <path data-name="Icon feather-chevron-left" d="M20.5,23l-7-7,7-7" transform="translate(-12.5 -7.586)" fill="none" stroke="#1a2224" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                        </svg>
                    </a>

                    <a *ngFor="let page of getPageArray()" style="cursor: pointer;" (click)="goToPage(page)" [class.active]="currentPage === page" class="cdp_i">
                        {{ ('0' + page).slice(-2) }}
                    </a>

                    <a style="cursor: pointer;" class="p_next" (click)="nextPage()" [class.disabled]="currentPage === totalPages">
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 1L8.5 8L1.5 15" stroke="#35343E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
                <!-- Pagination ends here -->

            </div>
        </div>
    </div>
</section>

