
<div class="container-fluid position-relative p-0">



<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Blog list Start -->
        <div class="col-lg-8">
            <div *ngIf="loadingBlogs" class="spinner-container">
                <div class="spinner"></div><span>loading..</span>
            </div>
            <div *ngIf="!loadingBlogs" class="row g-5">
                
                <ng-container *ngIf="blogs.length > 0; else noBlogs">
                <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s" *ngFor="let blog of blogs">
                    <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid" [src]="blog.blog_image_path" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" [routerLink]="['/blog_list', blog.id]">{{ blog.category_name }}</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                        <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{ blog.author }}</small>
                        <small><i class="far fa-calendar-alt text-primary me-2"></i>{{ blog.duration }}</small>
                        </div>
                        <h4 class="mb-3">{{ blog.name }}</h4>
                        <p>{{ getShortenedDescription(blog.description) }}</p>
                        <!-- <p>{{ blog.description.split(' ').slice(0, 10).join(' ') }}...</p> -->
                        <!-- <a class="text-uppercase" [routerLink]="['/blog_detail', blog.id]">Read More <i class="bi bi-arrow-right"></i></a> -->
                        <a class="text-uppercase" [routerLink]="['/blog_detail', blog.name, blog.author, blog.id]">Read More <i class="bi bi-arrow-right"></i></a>

                    </div>
                    </div>
                </div>
                </ng-container>
                <ng-template #noBlogs>
                <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        
                        <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{ noBlogsMessage }}</small>
                        </div>
                        </div>
                    </div>
                    </div>
                </ng-template>
            </div>

        <!-- PAGINATION -->
        <div class="col-12 wow slideInUp" data-wow-delay="0.1s">
            <nav aria-label="Page navigation">
              <ul class="paginationf paginationf-lg m-0">
                <li class="pagef-item" [class.disabled]="currentPage === 1">
                  <a class="pagef-link rounded-0" (click)="previousPage()" aria-label="Previous" style="cursor: pointer;">
                    <span aria-hidden="true"><i class="bi bi-arrow-left"></i></span>
                  </a>
                </li>
                <li class="pagef-item" *ngFor="let page of paginationfRange" [class.active]="page === currentPage" style="cursor: pointer;">
                  <a class="pagef-link" (click)="goToPage(page)">{{ page }}</a>
                </li>
                <li class="pagef-item" [class.disabled]="currentPage === totalPages">
                  <a class="pagef-link rounded-0" (click)="nextPage()" aria-label="Next" style="cursor: pointer;">
                    <span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        <!-- PAGINATION END -->
        </div>
        <!-- Blog list End -->

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <!-- Search Form End -->

                <!-- Categories Start -->
                <div *ngIf="loadingCategories" class="spinner-containerc">
                    <div class="spinner"></div><span>loading..</span>
                </div>
                <ng-container *ngIf="!loadingCategories">
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s" *ngIf="categories && categories.length > 0; else noCategories">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">More Categories</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                        <a *ngFor="let category of categories" [routerLink]="['/blog_category', category.name, category.id]"
                            class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2">
                            <i class="bi bi-arrow-right me-2"></i>{{ category.name }}
                        </a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noCategories>
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">More Categories</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                        <p class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2">
                            <i class="bi bi-arrow-right me-2"></i>Sorry! No more categories available.
                        </p>
                        </div>
                </ng-template>
                <!-- Categories End -->

                <!-- Recent Blogs Start -->
                <div *ngIf="loadingRecentBlogs" class="spinner-containerc">
                    <div class="spinner"></div><span>loading..</span>
                </div>
                <ng-container *ngIf="!loadingRecentBlogs">
                    <div *ngIf="recentBlogs && recentBlogs.length > 0; else noRecentBlogs" class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0"> Recent Blogs</h3>
                        </div>
                        <div *ngFor="let blog of recentBlogs" class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" [src]="blog.blog_image_path" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a [routerLink]="['/blog_detail', blog.name, blog.author, blog.id]" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">{{ blog.name }}</a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noRecentBlogs>
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0"> Recent Blogs</h3>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <p class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0">Sorry! No recent  blogs available.</p>
                        </div>
                    </div>
                </ng-template>
                <!-- Recent Blogs End -->

                <!-- Image Start -->
                <!-- <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                    <img src="assets/backend/assets-1/img/blog-1.jpg" alt="" class="img-fluid rounded">
                </div> -->
                <!-- Image End -->

                <!-- Tags Start -->
                <!-- <div *ngIf="loadingTags" class="spinner-containerc">
                    <div class="spinner"></div><span>loading..</span>
                </div> -->
                <!-- <ng-container *ngIf="!loadingTags">
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s" *ngIf="tags && tags.length > 0; else noTags">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">Tag Cloud</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                        <a *ngFor="let tag of tags" [routerLink]="['/blog_tag', tag.name, tag.id]"
                            class="btn btn-light m-1">{{ tag.name }}</a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noTags>
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">Tag Cloud</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                        <p class="btn btn-light m-1">Sorry! No Tags available.</p>
                        </div>
                    </div>
                </ng-template> -->
                <!-- Tags End -->

                <!-- Plain Text Start -->
                <!-- <div class="wow slideInUp" data-wow-delay="0.1s">
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                        <h3 class="mb-0">Plain Text</h3>
                    </div>
                    <div class="bg-light text-center" style="padding: 30px;">
                        <p>Vero sea et accusam justo dolor accusam lorem consetetur, dolores sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor magna takimata, amet sit et diam dolor ipsum amet diam</p>
                        <a routerLink="/about" class="btn btn-primary py-2 px-4">Read More</a>
                    </div>
                </div> -->
                <!-- Plain Text End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>
<!-- Blog End -->




