<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                            <a routerLink="/" class="text-center mb-4 d-flex align-items-center justify-content-center">
                                <img class="logo-abbr" src="../../../../../../assets/frontend/dist/images/favicon/favicon.png" alt="">
                            <span class="ml-2"><h1>The Buffallo Academy</h1></span>
                            </a>
                                <h4 class="text-center mb-4">Sign up your account</h4>
                                <form (submit)="register($event)">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label><strong>First Name</strong></label>
                                            <input type="text" class="form-control" placeholder="Enter Your Name" id="name" [(ngModel)]="name" name="name" />
                                            <small *ngIf="errors?.name" class="d-block text-danger">{{ errors?.name }}</small>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><strong>Email</strong></label>
                                            <input
                                            type="email"
                                            class="form-control"
                                            placeholder="example@email.com"
                                            id="email"
                                            [(ngModel)]="email"
                                            name="email"
                                            (input)="validateEmail()"
                                            [class.is-invalid]="(!emailValid || emailExists) && email !== ''"
                                            />
                                            <small *ngIf="!emailValid && email !== ''" class="d-block text-danger">Invalid email address</small>
                                            <small *ngIf="emailExists && email !== ''" class="d-block text-danger">Email already exists</small>
                                            <small *ngIf="errors?.email" class="d-block text-danger">{{ errors?.email }}</small>
                                        </div>
                                    </div>
                                    <!-- <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label><strong>Phone Number</strong></label>
                                            <input type="text" class="form-control" name="contact_en" id="contact_en" placeholder="Enter Contact No">
                                        </div>
                                    </div> -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label><strong>Password</strong></label>
                                            <div class="form-alert-input">
                                                <input
                                                  type="password"
                                                  class="form-control"
                                                  placeholder="Type here..."
                                                  id="password"
                                                  [(ngModel)]="password"
                                                  name="password"
                                                  (input)="validatePasswordStrength()"
                                                />
                                                <div class="form-alert-icon" (click)="togglePassword('password')">
                                                  <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-eye"
                                                  >
                                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                    <circle cx="12" cy="12" r="3"></circle>
                                                  </svg>
                                                </div>
                                              </div>
                                              <small *ngIf="passwordStrength === 'weak' && password !== ''" class="d-block text-danger">Weak password</small>
                                              <small *ngIf="passwordStrength === 'medium'" class="d-block text-warning">Medium strength password</small>
                                              <small *ngIf="passwordStrength === 'strong'" class="d-block text-success">Strong password</small>
                                              <small *ngIf="passwordSameAsEmail && password !== ''" class="d-block text-danger">The password cannot be the same as the email.</small>
                                              <small *ngIf="errors?.password" class="d-block text-danger">{{ errors?.password }}</small>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label><strong>Confirm Password</strong></label>
                                            <div class="form-alert-input">
                                                <input
                                                  type="password"
                                                  class="form-control"
                                                  placeholder="Type here..."
                                                  id="password_confirmation"
                                                  [(ngModel)]="password_confirmation"
                                                  name="password_confirmation"
                                                  (input)="validatePasswordConfirmation()"
                                                  [class.is-invalid]="!passwordsMatch && password_confirmation !== ''"
                                                />
                                                <div class="form-alert-icon" (click)="togglePassword('password_confirmation')">
                                                  <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-eye"
                                                  >
                                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                    <circle cx="12" cy="12" r="3"></circle>
                                                  </svg>
                                                </div>
                                              </div>
                                              <small *ngIf="!passwordsMatch && password_confirmation !== ''" class="d-block text-danger">Passwords do not match</small>
                                              <small *ngIf="errors?.password_confirmation" class="d-block text-danger">{{ errors?.password_confirmation }}</small>
                                        </div>
                                    </div>

                                    <div class="form-element d-flex align-items-center terms">
                                        <input class="checkbox-primary me-1" type="checkbox" id="agree" [(ngModel)]="agree" name="agree" />
                                        <label for="agree" class="text-secondary mb-0">Accept the
                                          <a routerLink="/" style="text-decoration: underline;">Terms</a> and
                                          <a routerLink="/" style="text-decoration: underline;">Privacy Policy</a>
                                        </label>
                                    </div>

                                    <div class="form-element">
                                        <button type="submit" class="button button-lg button--primary w-100" [disabled]="loading">
                                          <div *ngIf="loading" class="spinner-container">
                                            <div class="spinner"></div>
                                            <span class="loading-text pl-1">Signing up...</span>
                                          </div>
                                          <span *ngIf="!loading">Sign me up</span>
                                        </button>
                                      </div> 
                                </form>
                                
                                <div class="new-account mt-3">
                                    <p>Already have an account? <a class="text-primary" style="cursor: pointer;" routerLink="/admin-buffalo/aunthentication-sign-in">Sign
                                            in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>