<div class="main-wrapper">

	<div class="row page-titles mx-0">
		<div class="col-sm-6 p-md-0">
			<div class="welcome-text">
				<h4>Roles Operations</h4>
			</div>
		</div>
		<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/admin-buffalo/master-dashboard">Home</a></li>
				<li class="breadcrumb-item active"><a routerLink="/admin-buffalo/student-instructor-courses/role-dashboard">Roles</a></li>
				<li class="breadcrumb-item active"><a routerLink="/admin-buffalo/student-instructor-courses/role-dashboard">All Roles</a></li>
			</ol>
		</div>
	</div> 
  
    <!-- Add Roles Popup -->
    <ng-container *ngIf="addRolesForm.value && addPopupVisible">
      <dx-popup [(visible)]="addPopupVisible" [width]="'auto'" [height]="'auto'" [showTitle]="true"
          [title]="'Add New Roles'" (onHidden)="onPopupHidden()">
          <form (ngSubmit)="onAddRolesSubmit(false)" [formGroup]="addRolesForm">
  
			<div class="row">
				<div class="col-lg-12">
					<label for="name">Name:<span class="text-danger">*</span></label>
					<dx-text-box [showClearButton]="true" formControlName="name" placeholder="Roles Name"></dx-text-box>
					<!-- Display error message for the name field -->
					<div *ngIf="addRolesForm.get('name')?.invalid && (addRolesForm.get('name')?.touched || addRolesForm.get('name')?.dirty)"
						class="text-danger">
						<ng-container *ngIf="addRolesForm.get('name')?.errors?.['required']">Roles Name is required</ng-container>
						<ng-container *ngIf="addRolesForm.get('name')?.errors?.['pattern']">Invalid Roles name</ng-container>
					</div>
				</div>

				
			</div>

			<div class="row">
				<div class="button-container-popup">
					<dx-button text="Save and Add Another" type="success" [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"
						(onClick)="onAddRolesSubmit(true)">
						<!-- spinner -->
						<ng-container *ngIf="!isSubmittingSaveAndAddAnother">Save and Add Another</ng-container>
						<ng-container *ngIf="isSubmittingSaveAndAddAnother">
							<div class="spinnerc"></div>
						</ng-container>
						<!-- spinner -->
					</dx-button>
					<dx-button text="Save" type="success" [elementAttr]="{ class: 'pull-right' }"
						(onClick)="onAddRolesSubmit(false)">
						<!-- spinner -->
						<ng-container *ngIf="!isSubmittingSave">Save</ng-container>
						<ng-container *ngIf="isSubmittingSave">
							<div class="spinnerc"></div>
						</ng-container>
						<!-- spinner -->
					</dx-button>
				</div>
			</div>
			
          </form>
      </dx-popup>
    </ng-container>
  
    <!-- Update Roles Popup -->
    <ng-container *ngIf="updateRolesForm.value && updatePopupVisible">
      <dx-popup [(visible)]="updatePopupVisible" [width]="550" [height]="'auto'" [showTitle]="true"
          [title]="'Update Roles'" (onHidden)="onPopupHidden()">
            <form (ngSubmit)="onUpdateRolesSubmit()" [formGroup]="updateRolesForm">
				<div class="row">
					<!-- Roles Name -->
					<div class="col-lg-12">
						<label for="name">Roles Name:</label>
						<dx-text-box formControlName="name" placeholder="Roles Name"></dx-text-box>
					  </div>
					  
					  <!-- Update and Cancel Buttons -->
					  <div class="button-container-popup">
						<dx-button text="Cancel" type="danger"  [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"
						  (onClick)="updatePopupVisible = false"></dx-button>
						<dx-button text="Update" type="success" [elementAttr]="{ class: 'pull-right' }"
						  (onClick)="onUpdateRolesSubmit()">
						  <!-- spinner -->
						  <ng-container *ngIf="!isSubmitting">Update</ng-container>
						  <ng-container *ngIf="isSubmitting">
							  <div class="spinnerc"></div>
						  </ng-container>
						  <!-- spinner -->
						</dx-button>
					  </div>
				</div>
		    </form>
      </dx-popup>
    </ng-container>
  
    <!-- Delete Roles Popup -->
    <ng-container *ngIf="deleteRolesForm.value && deletePopupVisible">
      <dx-popup [(visible)]="deletePopupVisible" height="auto" width="auto" [showTitle]="true" title="Delete Confirmation"
          (onHidden)="deletePopupVisible = false">
          <form (ngSubmit)="onDeleteRolesSubmit()" [formGroup]="deleteRolesForm">
              <div>
                  <p *ngIf="deleteRolesForm.value && deletePopupVisible" class="confirmation-text">
                      Are you sure you want to delete "<strong>{{deleteRolesForm.value.name}}</strong>"?
                  </p>
                  <div class="button-container-popup">
					<dx-button text="Cancel" (onClick)="deletePopupVisible = false" [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"></dx-button>
					<dx-button text="Delete" type="danger" (onClick)="onDeleteRolesSubmit()" [elementAttr]="{ class: 'pull-right' }">
					   <!-- spinner -->
					  <ng-container *ngIf="!isSubmitting">Delete</ng-container>
					  <ng-container *ngIf="isSubmitting">
						  <div class="spinnerc"></div>
					  </ng-container>
					  <!-- spinner -->
					</dx-button>
				</div>
              </div>
          </form>
      </dx-popup>
    </ng-container>

	<!-- Spinner -->
    <div *ngIf="isLoading" class="spinner-container">
		<div class="spinner"></div>
	</div>
	
	<!-- Data Grid to display Roles -->
	<div *ngIf="!isLoading">
		<!-- Menu for Add/Delete Actions -->
		<div class="button-container">
			<dx-menu 
				[style]="{ 'background-color': 'lightblue' }"
				(onItemClick)="onMenuItemClick($event)" 
				[items]="permitGeneralRolesMenuItems">
			</dx-menu>
		</div>
  
		<!-- Data Grid to display Roles -->
		<dx-data-grid 
		#multipleRolesGrid
		class="table row-border hover" 
		[dataSource]="roles" 
		[remoteOperations]='true' 
		[showBorders]="true"
		[allowColumnResizing]="true" 
		[columnHidingEnabled]="false" 
		(onSelectionChanged)="selectionChanged($event)" 
		keyExpr="id">
		<!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
		<dxo-search-panel [visible]="true"></dxo-search-panel>
		<dxo-paging [enabled]="true"></dxo-paging>
		<dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true"
			[allowedPageSizes]="[5,10]"></dxo-pager>
		
		<dxo-selection mode="multiple"></dxo-selection>
		<dxo-group-panel [visible]="true"></dxo-group-panel>

		<!-- menu actions -->
		<dxi-column [width]="150" caption="Action" name="command-editing"
		[allowFiltering]="false" 
		[allowSorting]="false" 
		cellTemplate="cellTemplate">
		<div *dxTemplate="let data of 'cellTemplate'">
		  <dx-menu 
			(onItemClick)="permitRolesActionColClick($event,data)"
			[items]="permitRolesMenuItems">
		  </dx-menu>
		</div>
	    </dxi-column>
		<!-- menu actions -->
	
		<dxo-group-panel [visible]="true"></dxo-group-panel>
		<dxi-column dataField="id" caption="ID" [visible]="false"></dxi-column>
		<dxi-column dataField="name" caption="Role"></dxi-column>
        <dxi-column dataField="identity" caption="Identity"></dxi-column>
        <dxi-column dataField="created_by" caption="Created By"></dxi-column>
        <dxi-column dataField="duration" caption="Time Posted"></dxi-column>
		
		<dxo-paging [pageSize]="10"></dxo-paging>
		</dx-data-grid>
	</div>

    <!-- Delete Multiple Roles Popup -->
    <ng-container *ngIf="selectedRolesForDeletion.length > 0 && deleteMultiplePopupVisible">
		<dx-popup [(visible)]="deleteMultiplePopupVisible" height="auto" width="auto" [showTitle]="true" title="Delete Confirmation"
			(onHidden)="deleteMultiplePopupVisible = false">
			<div>
				<p class="confirmation-text">
					Are you sure you want to delete <strong>{{selectedRolesCount}}</strong> Blog Role(s)?
				</p>
				<div class="button-container-popup">
					<dx-button text="Cancel" (onClick)="deleteMultiplePopupVisible = false" [elementAttr]="{ id: 'first-btn', class: 'pull-right' }"></dx-button>
					<dx-button text="Delete" type="danger" (onClick)="confirmDeleteMultipleRoles()" [elementAttr]="{ class: 'pull-right' }">
						<!-- spinner -->
						<ng-container *ngIf="!isSubmitting">Delete</ng-container>
						<ng-container *ngIf="isSubmitting">
							<div class="spinnerc"></div>
						</ng-container>
						<!-- spinner -->
					</dx-button>
				</div>
			</div>
		</dx-popup>
	</ng-container>
  
  </div>
  