<!-- ALL COURSES -->
<div class="students-info-main">
    <div class="tab-content" id="nav-tabContent">
        <!-- {{-- Profile Info --}} -->
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
            aria-labelledby="nav-profile-tab">
            <!-- <div class="tab-content__profile"> -->
                <!-- <section class="section section--bg-white calltoaction"> -->
                    <div class="container">
                          <div *ngIf="loading" class="spinner-container">
                            <div class="spinner"></div>
                            <span class="loading-text">Loading...</span>
                          </div> 
                          <div *ngIf="!loading">
                            <div class="row" *ngIf="currentCourses.length > 0; else noAllCourses">
                              <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let course of currentCourses">
                                <div class="contentCard contentCard--watch-course">
                                  <div class="contentCard-top">
                                    <a [routerLink]="['/courseDetails', course.title_en, course.id]">
                                      <img [src]="course.image" alt="Course Image" class="img-fluid" />
                                    </a>
                                  </div>
                                  <div class="contentCard-bottom">
                                    <h5>
                                      <a [routerLink]="['/courseDetails', course.title_en, course.id]" class="font-title--card">{{ course.title_en }}</a>
                                    </h5>
                                    <div class="contentCard-info d-flex align-items-center justify-content-between">
                                      <a [routerLink]="['/instructorProfile', course.instructor_name, course.instructor_designation, course.instructor_id]"
                                        class="contentCard-user d-flex align-items-center">
                                        <img [src]="course.instructor_image" alt="Instructor Image"
                                          class="rounded-circle" height="34" width="34" />
                                        <p class="font-para--md">{{ course.instructor_name }}</p>
                                      </a>
                                      <div class="contentCard-course--status d-flex align-items-center">
                                        <span class="percentage pr-1">43%</span>
                                        <span>Finish</span>
                                      </div>
                                    </div>
                                    <!-- <a [routerLink]="['/watchCourse', course.title_en, course.id]"
                                      class="button button-md button--primary-outline w-100 my-3">Watch Course</a> -->
                                    <a (click)="handleCourseClick($event, course)" 
                                      class="button button-md button--primary-outline w-100 my-3" style="cursor: pointer;">Watch Course</a>
                                    <div class="contentCard-watch--progress">
                                      <span class="percentage" style="width: 43%;"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <ng-template #noAllCourses>
                              <div class="col-12 py-5">
                                <div class="col-md-6 col-12 mx-auto text-center">
                                  <h5 class="font-title--sm">You Haven't Enrolled Any Course Yet...</h5>
                                  <p class="my-4 font-para--lg">Your Course List is Empty!</p>
                                  <a routerLink="/searchCourse" class="button button-md button--primary">Enroll Now!</a>
                                </div>
                              </div>
                            </ng-template>
                            <div class="col-lg-12 mt-lg-5" *ngIf="currentCourses.length > 0">
                              <div class="pagination justify-content-center pb-0">
                                <div class="pagination-group">
                                  <a style="cursor: pointer;" class="p_prev" (click)="prevPage()" [class.disabled]="currentPage === 1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="9.414" height="16.828" viewBox="0 0 9.414 16.828">
                                      <path data-name="Icon feather-chevron-left" d="M20.5,23l-7-7,7-7"
                                        transform="translate(-12.5 -7.586)" fill="none" stroke="#1a2224" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="2"></path>
                                    </svg>
                                  </a>
                                  <a *ngFor="let page of pages" style="cursor: pointer;" class="cdp_i"
                                    [class.active]="page === currentPage" (click)="goToPage(page)">{{ page < 10 ? '0' + page : page }}</a>
                                  <a style="cursor: pointer;" class="p_next" (click)="nextPage()" [class.disabled]="currentPage === totalPages">
                                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.5 1L8.5 8L1.5 15" stroke="#35343E" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    </svg>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                <!-- </section> -->
        
            <!-- </div> -->
        </div>
    </div>
</div>


<section class="section event-info">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="course-overview">
                  <!-- pop up starts here (curriculum, lessons, materials) -->
                  <dx-popup
                  id="popup"
                  [(visible)]="isMaterialPopupVisible"
                  [hideOnOutsideClick]="true"
                  [showTitle]="true"
                  [title]="courseTitle || ''"
                  [height]="500"
                  [width]="800"
                  [resizeEnabled]="true"
                  [dragEnabled]="true"
                  position="center"
                  [shading]="false"
                  (onHidden)="closePopup()">


                  <!-- {{-- Tabs --}} -->
                  <ul class="nav course-overview-nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link font-para--lg" id="pills-profile-tab" data-bs-toggle="pill"
                          data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                          aria-selected="false">
                          Course Curriculum
                      </button>
                    </li>
                  </ul>
                  <!-- {{-- Tabs --}} -->

                  <div class="tab-content course-overview-content" id="pills-tabContentTwo">
                    <!-- Course Curriculum Area Starts Here -->
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile">
                        <div *ngIf="loading" class="spinner-container">
                          <div class="spinner"></div>
                          <span class="loading-text">Loading...</span>
                        </div>
                        <div *ngIf="!loading">
                          <div class="row">
                            <div class="course-curriculum-area">
                                <ng-container *ngIf="curriculum && curriculum.length > 0; else noCourseCurriculum">
                                    <div *ngFor="let item of curriculum" class="curriculum-area">
                                        <div class="curriculum-area-top" role="button" data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#collapse' + item.id" aria-expanded="false"
                                            [attr.aria-controls]="'collapse' + item.id">

                                            <div class="curriculum-area-top-start">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    viewBox="0 0 20 20" fill="none">
                                                    <path d="M15.8332 7.08337L9.99984 12.9167L4.1665 7.08337"
                                                        stroke="#42414B" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                <p class="font-para--lg">{{item.name}}</p>
                                            </div>

                                            <div *ngIf="item.lessonSummaryLoaded" class="curriculum-area-top-end">
                                                <div class="total-lesson">
                                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M1.5 2.75H6C6.79565 2.75 7.55871 3.06607 8.12132 3.62868C8.68393 4.19129 9 4.95435 9 5.75V16.25C9 15.6533 8.76295 15.081 8.34099 14.659C7.91903 14.2371 7.34674 14 6.75 14H1.5V2.75Z"
                                                            stroke="#00AF91" stroke-width="1.8" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path
                                                            d="M16.5 2.75H12C11.2044 2.75 10.4413 3.06607 9.87868 3.62868C9.31607 4.19129 9 4.95435 9 5.75V16.25C9 15.6533 9.23705 15.081 9.65901 14.659C10.081 14.2371 10.6533 14 11.25 14H16.5V2.75Z"
                                                            stroke="#00AF91" stroke-width="1.8" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                    <span class="pl-1">{{ item.lessonSummary?.total_lessons }} Lesson</span>
                                                </div>
                                                <div class="total-hours">
                                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M9 17C13.1421 17 16.5 13.6421 16.5 9.5C16.5 5.35786 13.1421 2 9 2C4.85786 2 1.5 5.35786 1.5 9.5C1.5 13.6421 4.85786 17 9 17Z"
                                                            stroke="#FFC91B" stroke-width="1.8" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M9 5V9.5L12 11" stroke="#FFC91B" stroke-width="1.8"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                    <span class="pl-1">{{ item.lessonSummary?.total_duration?.hours }}H {{ item.lessonSummary?.total_duration?.minutes }}M</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!item.lessonSummaryLoaded">
                                                <p>Loading lesson summary...</p>
                                            </div>
                                        </div>
                                        <div *ngIf="item.lessons" class="curriculum-area-bottom collapse show" [id]="'collapse' + item.id">

                                            <div *ngFor="let lesson of item.lessons" class="curriculum-description active">
                                                <div class="curriculum-description-start">
                                                    <p>
                                                        <a>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                                class="feather feather-file">
                                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                                                <polyline points="10 9 9 9 8 9"></polyline>
                                                            </svg>
                                                        </a>
                                                        <!-- <a href="#" (click)="handleLinkClick($event, lesson)">{{ lesson.id }}. {{ lesson.title }}</a> -->
                                                        <a *ngIf="courseTitle && courseId && item?.name && item?.id"
                                                          [routerLink]="['/watchCourse', courseTitle, courseId, item.name, item.id]"
                                                          [queryParams]="{ courseTitle: courseTitle, courseId: courseId }">
                                                          <span>{{ lesson.id }}. {{ lesson.title }}</span>
                                                        </a>
                                                    </p>
                                                </div>
                                                
                                                
                                                <div class="curriculum-description-end">
                                                    <span class="pr-3">{{ lesson.minutes }}:{{ lesson.seconds }}</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-lock">
                                                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2">
                                                        </rect>
                                                        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!item.lessons">
                                            <span>Loading lessons...</span>
                                        </div>
                                        
                                    </div>
                                </ng-container>
                                <ng-template #noCourseCurriculum>
                                    <div class="curriculum-area-top-start">
                                        <p>No course curriculum information available.</p>
                                    </div>
                                </ng-template>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- Course Curriculum Area Ends Here -->

                  </div>
                  </dx-popup>
                  <!-- pop up ends here (curriculum, lessons, materials) -->
              </div>
          </div>
      </div>
  </div>
</section>   

