<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPermissions()" [disabled]="!selectedPermissions || !selectedPermissions.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="permissions" [rows]="10" [paginator]="true" [selection]="selectedPermissions" (selectionChange)="onSelectionChange($event)" [rowHover]="true" dataKey="id"
        [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="identity">Identity <p-sortIcon field="identity"></p-sortIcon></th>
                <th pSortableColumn="author">Created By  <p-sortIcon field="author"></p-sortIcon></th>
                <th pSortableColumn="duration">Duration <p-sortIcon field="duration"></p-sortIcon></th>
                <th pSortableColumn="is_enabled">Enabled <p-sortIcon field="is_enabled"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-permission>
            <tr>
                <td>
                    <p-tableCheckbox [value]="permission"></p-tableCheckbox>
                </td>
                <td>{{permission.name}}</td>
                <td>{{permission.identity}}</td>
                <td>{{permission.author}}</td>
                <td>{{permission.duration}}</td>
                <td>
                    <span [class]="'product-badge status-' + (permission.is_enabled ? 'enabled' : 'disabled')">
                        {{permission.is_enabled ? 'Enabled' : 'Disabled'}}
                    </span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPermission(permission)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePermission(permission)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{permissions.length}} permissions.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="permissionDialog" [style]="{width: '500px'}" header="Permission Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-6">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="permission.name" required autofocus />
                    <small class="p-error" *ngIf="submitted && !permission.name">Name is required.</small>
                </div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="field">
                    <label for="identity">Identity</label>
                    <input type="text" pInputText id="identity" [(ngModel)]="permission.identity" required />
                </div>
            </div>
            
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="p-d-flex p-jc-end">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-mr-2" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePermission()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
