<!-- MAIN DASHBOARD -->
<div class="students-info-main">
    <div class="tab-content" id="nav-tabContent">
        <!-- {{-- Profile Info --}} -->
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
            aria-labelledby="nav-profile-tab">
            <!-- <div class="tab-content__profile"> -->
                <section class="section section--bg-white calltoaction">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12 mx-auto text-center">
                                <h5 class="font-title--sm">Invest in your career with Us</h5>
                                <p class="my-4 font-para--lg">
                                    Our commitment is to guide you to the finest online courses, offering expert insights whenever and wherever you are.
                                </p>
                                <a routerLink="/searchCourse"
                                    class="button button-md button--primary">Let’s Go</a>
                            </div>
                        </div>
                    </div>
                </section>
            <!-- </div> -->
        </div>
    </div>
</div>


