
/* MENU ADVANCED API */


::ng-deep #gridContainer {
    height: 440px;
  }
  
  ::ng-deep #gridContainer .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
  }
  
  ::ng-deep .employeeInfo {
    display: flex; /* Apply flexbox layout to the container */
    align-items: flex-start; /* Align items to the top of the container */
  }
  
  ::ng-deep .employeeInfo a {
    display: block; /* Ensure the <a> tag takes up the height of the content */
    margin-right: 20px; /* Add space between photo and content */
  }
  
  ::ng-deep .employeeInfo .employeePhoto {
    height: 200px;
    width: 200px; /* Ensure the image has a fixed width */
    object-fit: cover; /* Ensure the image covers the container */
    /* Remove padding and float */
  }
  
  ::ng-deep .employeeInfo .scrollable-content {
    flex: 1; /* Allow this element to take up remaining space */
  }
  
  ::ng-deep .employeeInfo .employeeContent {
    padding-top: 20px;
    text-align: justify;
    white-space: normal;
  }
  
  
  .scrollable-content {
    max-height: 150px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  