


<!--**********************************
        Main wrapper start
***********************************-->
    <div id="main-wrapper">
        <app-header></app-header>

        <app-sidebar></app-sidebar>

        <!--**********************************
            Content body start
        ***********************************-->
        <router-outlet>

                        
        </router-outlet>

        <!--**********************************
            Content body end
        ***********************************-->
        <app-footer></app-footer>
    </div>
<!--**********************************
        Main wrapper end
***********************************-->